# Laravel
backend/vendor/
backend/.env
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/public/build
backend/.phpunit.cache
backend/.phpunit.result.cache

# Next.js
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env
frontend/out/
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# General
.DS_Store
Thumbs.db
*.log